.contact-container {
  display: flex;
  flex-direction: column;
  background-color: #cdcdcd;
  margin: 5%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .contact-container {
    flex-direction: column;
  }
}
.contact-item-left,
.contact-item-right {
  padding: 20px;
  border: 1px dashed blue;
  height: auto;
  box-sizing: border-box;
  max-width: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .contact-item-right,
  .contact-item-left {
    flex: 100%;
  }
}
.contact-area {
  /* padding:90px 0 90px; */
  background: #f9f9f9;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.contact-block {
  box-shadow: 0px 0px 12px 0px rgb(0, 0, 0, 8%);
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: #14b1bb;
  border-radius: 5px;
  padding: 24px 20px 6px 20px;
  margin: 10px 0 30px 0;
  height: 120px;
}
.contact-data {
  display: flex;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}
.contact-form {
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 8%);
  padding: 10px 35px 47px;
  margin-bottom: 30px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
@media screen and (max-width: 768px) {
  .form-row {
    display: block;
  }
}
.form-group {
  margin-bottom: 1rem;
}
input,
textarea {
  border: 1px solid #14b1bb;
  background: #14b1bb;
  color: #fff;
  width: 98%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  margin: 1%;
  text-align: left;
  padding-left: 30px;
  box-sizing: border-box;
}
textarea {
  width: 96%;
  height: 150px;
  padding: 10px;
  margin: 0;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #fff;
}
::-ms-input-placeholder {
  color: #fff;
}
.contact-form .btn {
  width: 96%;
}
.margin-b-15 {
  margin-bottom: 15px;
}
.headerText {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  font-style: italic;
  letter-spacing: 5px;
}
.submitBtn {
  text-align: center;
  margin-top: 10px;
}
