<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false"
        (onShown)="onShown()"
        (onHidden)="onHidden()"
      >
      </dx-load-panel>
    </div>
    <div class="row padding0">
      <div class="formHeader">
        Details... <img src="assets/images/hello.png" />
      </div>
    </div>
    <div class="row detForm">
      <form action="your-action" (submit)="onFormSubmit($event)">
        <div class="dx-fieldset">
          <dx-validation-summary id="summary"></dx-validation-summary>
        </div>
        <div class="dx-fieldset">
          <div class="row margin-b-15">
            <div class="col-md-6">
              <div class="dx-field-value width100">
                <dx-text-box
                  placeholder="First Name"
                  valueChangeEvent="keyup"
                  [value]="detailsData.firstName"
                  (onValueChanged)="valueChanged($event, 'firstName')"
                  autocomplete="off"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="COMMON_MSG.firstNameRequired"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="pattern"
                      [pattern]="namePattern"
                      [message]="COMMON_MSG.firstName"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dx-field-value width100">
                <dx-text-box
                  placeholder="Last Name"
                  valueChangeEvent="keyup"
                  [value]="detailsData.lastName"
                  (onValueChanged)="valueChanged($event, 'lastName')"
                  autocomplete="off"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="COMMON_MSG.lastNameRequired"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="pattern"
                      [pattern]="namePattern"
                      [message]="COMMON_MSG.lastName"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
          </div>
          <div class="row margin-b-15">
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    placeholder="Enter Email"
                    valueChangeEvent="keyup"
                    [value]="detailsData.email"
                    (onValueChanged)="valueChanged($event, 'email')"
                    autocomplete="off"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.emailRequired"
                      ></dxi-validation-rule>
                      <dxi-validation-rule
                        type="email"
                        [message]="COMMON_MSG.mail"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    placeholder="Enter Mobile Number"
                    [value]="detailsData.mobileNumber"
                    mask="+1 (X00) 000-0000"
                    [maskRules]="phoneRules"
                    valueChangeEvent="keyup"
                    [maxLength]="10"
                    (onValueChanged)="valueChanged($event, 'mobileNumber')"
                    autocomplete="off"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.mobileNumberRequired"
                      >
                      </dxi-validation-rule>
                      <dxi-validation-rule
                        type="pattern"
                        [pattern]="phonePattern"
                        [message]="COMMON_MSG.mobileNumber"
                      >
                      </dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-b-15">
            <div class="col-md-6">
              <div class="dx-field">
                <div class="row dx-field-value width100">
                  <div class="col-md-11 padding0">
                    <dx-text-box
                      [(mode)]="passwordMode"
                      [value]="detailsData.password"
                      placeholder="Enter Password"
                      valueChangeEvent="keyup"
                      (onValueChanged)="valueChanged($event, 'password')"
                      autocomplete="off"
                    >
                      <dx-validator>
                        <dxi-validation-rule
                          type="required"
                          [message]="COMMON_MSG.passwordRequired"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          type="pattern"
                          [pattern]="passwordPattern"
                          [message]="COMMON_MSG.strongPassword"
                        >
                        </dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                  <div class="col-md-1 padding0">
                    <dx-button
                      *ngIf="passwordMode === 'password'"
                      id="eye"
                      (onClick)="passwordBtn()"
                      class="eyeIconBtn"
                      ><i class="far fa-eye-slash eyeIcon"></i>
                    </dx-button>
                    <dx-button
                      *ngIf="passwordMode === 'text'"
                      id="slasheye"
                      (onClick)="hidePasswordBtn()"
                      class="eyeIconBtn"
                      ><i class="far fa-eye eyeIcon"></i>
                    </dx-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dx-field">
                <div class="row dx-field-value width100">
                  <div class="col-md-11 padding0">
                    <dx-text-box
                      [(mode)]="changePasswordMode"
                      placeholder="Enter Confirm Password"
                      [value]="detailsData.rePassword"
                      autocomplete="off"
                      valueChangeEvent="keyup"
                      (onValueChanged)="valueChanged($event, 'confirmPassword')"
                    >
                      <dx-validator>
                        <dxi-validation-rule
                          type="required"
                          [message]="COMMON_MSG.confirmPasswordRequired"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          type="compare"
                          [comparisonTarget]="passwordComparison"
                          [message]="COMMON_MSG.rePassword"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                  <div class="col-md-1 padding0">
                    <dx-button
                      *ngIf="changePasswordMode === 'password'"
                      id="eye"
                      (onClick)="changePasswordBtn()"
                      class="eyeIconBtn"
                      ><i class="far fa-eye-slash eyeIcon"></i>
                    </dx-button>
                    <dx-button
                      *ngIf="changePasswordMode === 'text'"
                      id="slasheye"
                      (onClick)="hideChangePasswordBtn()"
                      class="eyeIconBtn"
                      ><i class="far fa-eye eyeIcon"></i>
                    </dx-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-b-15">
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-date-box
                    placeholder="DD/MM/YYY"
                    invalidDateMessage="The date must have the following format: MM/dd/yyyy"
                    valueChangeEvent="keyup"
                    autocomplete="off"
                    (onValueChanged)="valueChanged($event, 'dob')"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.dobRequired"
                      >
                      </dxi-validation-rule>
                      <dxi-validation-rule
                        type="range"
                        [max]="maxDate"
                        [message]="COMMON_MSG.dob"
                      >
                      </dxi-validation-rule>
                    </dx-validator>
                  </dx-date-box>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-select-box
                    [dataSource]="genders"
                    placeholder="Select Gender"
                    [value]="detailsData.gender"
                    valueChangeEvent="keyup"
                    (onValueChanged)="valueChanged($event, 'genders')"
                    [searchEnabled]="true"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.genderRequired"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-select-box>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-b-15">
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-select-box
                    [dataSource]="countries"
                    placeholder="Select Country"
                    [value]="detailsData.country"
                    valueChangeEvent="keyup"
                    (onValueChanged)="valueChanged($event, 'country')"
                    [searchEnabled]="true"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.countryRequired"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-select-box>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-select-box
                    [dataSource]="states"
                    placeholder="Select State"
                    [value]="detailsData.state"
                    valueChangeEvent="keyup"
                    (onValueChanged)="valueChanged($event, 'states')"
                    [searchEnabled]="true"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.stateRequired"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-select-box>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-b-15">
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-select-box
                    [dataSource]="cities"
                    placeholder="Select City"
                    [value]="detailsData.city"
                    valueChangeEvent="keyup"
                    (onValueChanged)="valueChanged($event, 'city')"
                    [searchEnabled]="true"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.cityRequired"
                      >
                      </dxi-validation-rule>
                    </dx-validator>
                  </dx-select-box>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    placeholder="Enter Zipcode"
                    mask="00000"
                    valueChangeEvent="keyup"
                    [maxLength]="5"
                    [value]="detailsData.zipcode"
                    (onValueChanged)="valueChanged($event, 'zipcode')"
                    autocomplete="off"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="COMMON_MSG.zipcodeRequired"
                      >
                      </dxi-validation-rule>
                      <dxi-validation-rule
                        type="pattern"
                        pattern="[0-9]{5}"
                        [message]="COMMON_MSG.zipcode"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-b-15">
            <div class="col-md-6">
              <dx-check-box
                [value]="checked"
                text="I agree to the Terms and Conditions"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    [message]="COMMON_MSG.teamsCheck"
                  ></dxi-validation-rule>
                  <!--                <dxi-validation-rule-->
                  <!--                  type="compare"-->
                  <!--                  [comparisonTarget]="checkComparison"-->
                  <!--                  [message]="COMMON_MSG.teamsCheck"-->
                  <!--                ></dxi-validation-rule>-->
                </dx-validator>
              </dx-check-box>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 textCenter">
              <dx-button
                id="button"
                text="Next"
                type="success"
                [useSubmitBehavior]="true"
              >
              </dx-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
