.bgImg {
  background: url("~src/assets/images/img-login.jpg") no-repeat 0 0
    rgba(0, 0, 0, 0);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  position: fixed;
  height: -webkit-fill-available;
  overflow: overlay;
}

.detForm {
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: 0px 0px 6px 6px;
}

.padding-b {
  padding-bottom: 20px;
}

.formHeader {
  height: 60px;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  background-color: #14b1bb;
  border-radius: 6px 6px 0 0;
  letter-spacing: 5px;
}

.formHeader img {
  margin-left: 20px;
}

.margin {
  width: 60%;
  margin-left: 20%;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.padding0 {
  padding: 0px;
}
.eyeIconBtn {
  background-color: #337ab7;
  color: white;
  border: unset;
  height: 100%;
}
.eyeIcon {
  margin-left: -2px;
  margin-top: 2px;
}
