<div class="container-fluid">
  <div class="row g-0">
    <div class="col-md-12">
      <img src="assets/images/header-services.jpg" class="img-fluid w-100" />
    </div>
  </div>
</div>
<div class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h3>Preparing For Your Success</h3>
        <h3>Provide Best <span class="color-heading">IT Services</span></h3>
        <div class="curved-line"></div>
        <div class="services-maintext">
          Campus to Corporate with best guidance in industry. Success can be
          derived with proper guidance. We are always there for you. Campus to
          Corporate with best guidance in industry.
        </div>
        <div class="services-content">
          <p>
            Campus to Corporate with best guidance in industry. Success can be
            derived with proper guidance. We are always there for you. Campus to
            Corporate with best guidance in industry. Campus to Corporate with
            best guidance in industry. Success can be derived with proper
            guidance. We are always there for you. Campus to Corporate with best
            guidance in industry.
          </p>
          <p>
            Campus to Corporate with best guidance in industry. Success can be
            derived with proper guidance. We are always there for you. Campus to
            Corporate with best guidance in industry.
          </p>
          <div class="btn">More Details</div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="img-services">
          <img src="assets/images/img-services.jpg" />
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="container-fluid services-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="about-services">
            <img src="assets/images/services-aws.jpg" />
            <div class="main-heading">Amazon Web Services</div>
            <div class="services-info">
              Amazon Web Services, Inc. is a subsidiary of Amazon providing
              on-demand cloud computing platforms and APIs to individuals,
              companies, and governments, on a metered pay-as-you-go basis.
            </div>
            <div class="more-btn">Read More</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="about-services">
            <img src="assets/images/services-ml.jpg" height="46px" />
            <div class="main-heading">Machine Learning</div>
            <div class="services-info">
              Machine Learning is the study of computer algorithms that improve
              automatically through experience and by the use of data. It is
              seen as part of artificial intelligence.
            </div>
            <div class="more-btn">Read More</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="about-services">
            <img src="assets/images/services-dbms.jpg" height="46px" />
            <div class="main-heading">DBMS</div>
            <div class="services-info">
              A database management system (or DBMS) is essentially nothing more
              than a computerized data-keeping system.
            </div>
            <div class="more-btn">Read More</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
