.main-content {
  margin-top: 5%;
  min-height: 486px;
}
::ng-deep .dx-toolbar {
  background-color: #fff;
  border-bottom: 3px solid #0a61c8;
  padding: 10px;
  height: 65px;
}
.logo {
  height: 40px;
}
/* ::ng-deep .dx-button {
  background-color: rgba(191, 191, 191, -0.15) !important;
  border: none;
} */
::ng-deep .dx-button-mode-contained .dx-icon {
  font-size: 30px;
}
.p-l-15 {
  padding-left: 15px !important;
}
.timeStyle {
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  margin-top: 5px;
}
.userName {
  font-size: 25px;
  margin-right: 15px;
}
.logoutText {
  font-size: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.sideMenu {
  background-color: #7bcf9d;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 100%;
}
.m-b-20{
  margin-bottom: 20px;
}
