<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false"
        (onShown)="onShown()"
      >
      </dx-load-panel>
      <dx-toast
        [(visible)]="isVisible"
        type="success"
        [message]="error_msg.securityQusSuccessMsg"
      >
      </dx-toast>
    </div>
    <div class="row privacy">
      <form action="your-action" (submit)="onFormSubmit($event)">
        <div class="row padding0 formHeader">
          <div class="col-md-2 padding-t-10">
            <dx-button
              id="backIcon"
              icon="arrowleft"
              (onClick)="backPage()"
              (mouseenter)="toggleBackBtn()"
              (mouseleave)="toggleBackBtn()"
            >
            </dx-button>
            <dx-tooltip
              target="#backIcon"
              [(visible)]="backBtnTooltip"
              [closeOnOutsideClick]="false"
            >
              <div *dxTemplate="let data = data; of: 'content'">
                Back Button
              </div>
            </dx-tooltip>
          </div>
          <div class="col-md-8 headerText">
            <img src="assets/images/magnetar_logo.png" />
          </div>
          <div class="col-md-2 padding-t-10 textEnd">
            <dx-button
              icon="arrowright"
              id="nextIcon"
              (mouseenter)="toggleNextBtn()"
              (mouseleave)="toggleNextBtn()"
              [disabled]="btnDisable"
              (onClick)="nextPage()"
            >
            </dx-button>
            <dx-tooltip
              target="#nextIcon"
              [(visible)]="nextBtnTooltip"
              [closeOnOutsideClick]="false"
            >
              <div *dxTemplate="let data = data; of: 'content'">
                Next Button
              </div>
            </dx-tooltip>
          </div>
        </div>
        <div class="row headerText">
          <h3>Security Questions</h3>
        </div>
        <div class="dx-fieldset">
          <dx-validation-summary id="summary"></dx-validation-summary>
        </div>
        <div class="dx-fieldset">
          <div class="row ansCard">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="questions"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.questionsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q1ValueChanged($event, 'question')"
                  [searchEnabled]="true"
                  [value]="securityQus1.question"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.questionsRequired"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.queAnsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q1ValueChanged($event, 'answer')"
                  [value]="securityQus1.answer"
                  maxLength="30"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.answerRequired"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="pattern"
                      pattern=".{3,}"
                      [message]="error_msg.strongAnswer"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="custom"
                      [validationCallback]="answers1Callback"
                      [message]="error_msg.ansCompare"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
          </div>
          <div class="row ansCard" *ngIf="showQues2">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="questions"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.questionsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q2ValueChanged($event, 'question')"
                  [searchEnabled]="true"
                  [value]="securityQus2.question"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.questionsRequired"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.queAnsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q2ValueChanged($event, 'answer')"
                  [value]="securityQus2.answer"
                  maxLength="30"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.answerRequired"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="pattern"
                      pattern=".{3,}"
                      [message]="error_msg.strongAnswer"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="custom"
                      [validationCallback]="answers2Callback"
                      [message]="error_msg.ansCompare"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
          </div>
          <div class="row ansCard" *ngIf="showQues3">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="questions"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.questionsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q3ValueChanged($event, 'question')"
                  [searchEnabled]="true"
                  [value]="securityQus3.question"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.questionsRequired"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.queAnsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q3ValueChanged($event, 'answer')"
                  [value]="securityQus3.answer"
                  maxLength="30"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.answerRequired"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="pattern"
                      pattern=".{3,}"
                      [message]="error_msg.strongAnswer"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="custom"
                      [validationCallback]="answers3Callback"
                      [reevaluate]="true"
                      [message]="error_msg.ansCompare"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 textCenter">
              <dx-button
                [text]="COMMON_MSG.Submit"
                type="success"
                [useSubmitBehavior]="true"
                *ngIf="!showNextBtn"
              ></dx-button>
              <dx-button
                [text]="COMMON_MSG.Next"
                type="success"
                [useSubmitBehavior]="true"
                *ngIf="showNextBtn"
              ></dx-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
