<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <dx-toast
        [(visible)]="isVisible"
        type="success"
        [message]="error_Msg.employeeSuccessMsg"
      >
      </dx-toast>
    </div>
    <div class="row mainCard">
      <form action="your-action">
        <div class="row padding0 headerStyle">
          <div class="col-md-2 padding-t-10"></div>
          <div class="col-md-8 headerText">
            <img src="assets/images/magnetar_logo.png" />
          </div>
          <div class="col-md-2 padding-t-10 textEnd"></div>
        </div>
        <div class="row headerText">
          <h3>Employee</h3>
        </div>
        <div class="dx-fieldset margin-xy-0">
          <dx-validation-summary id="summary"></dx-validation-summary>
        </div>
        <div class="dx-fieldset">
          <div class="row Card">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="departmentData"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.departmentPlaceholder"
                  [value]="selectedDepartment"
                  valueChangeEvent="keyup"
                  (onValueChanged)="valueChanged($event, 'departments')"
                  [searchEnabled]="true"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_Msg.departmentRequired"
                    >
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.employeePlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="valueChanged($event, 'employee')"
                  [value]="employeeName"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_Msg.employeeRequired"
                    >
                    </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 textCenter">
              <dx-button
                [text]="COMMON_MSG.Submit"
                type="success"
                (onClick)="empSubmit()"
                [disabled]="!btnDisable"
              ></dx-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
