<footer>
  <div class="row">
    <div class="col-6 col-md-6 copyright-text">
      Copyright © 2021 {{COMMON_MSG.applicationName}} Integrated Solutions, LLC.
    </div>
    <div class="col-6 col-md-6 margin30 right-align-content">
      <a href="#" class="fab fa-facebook"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-linkedin"></a>
      <a href="#" class="fab fa-youtube"></a>
      <a href="#" class="insta"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></a>
    </div>
  </div>
</footer>
