<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false"
        (onShown)="onShown()"
      >
      </dx-load-panel>
    </div>
    <div class="row privacy">
      <form action="your-action">
        <div class="row padding0 formHeader">
          <div class="col-md-2 padding-t-10">
            <!-- <dx-button
              id="backIcon"
              icon="arrowleft"
              (onClick)="backPage()"
              (mouseenter)="toggleBackBtn()"
              (mouseleave)="toggleBackBtn()"
            >
            </dx-button>
            <dx-tooltip
              target="#backIcon"
              [(visible)]="backBtnTooltip"
              [closeOnOutsideClick]="false"
            >
              <div *dxTemplate="let data = data; of: 'content'">
                Back Button
              </div>
            </dx-tooltip> -->
          </div>
          <div class="col-md-8 headerText">
            <img src="assets/images/magnetar_logo.png" />
          </div>
          <div class="col-md-2 padding-t-10 textEnd">
            <!-- <dx-button
              icon="arrowright"
              [useSubmitBehavior]="true"
              id="nextIcon"
              (mouseenter)="toggleNextBtn()"
              (mouseleave)="toggleNextBtn()"
            >
            </dx-button>
            <dx-tooltip
              target="#nextIcon"
              [(visible)]="nextBtnTooltip"
              [closeOnOutsideClick]="false"
            >
              <div *dxTemplate="let data = data; of: 'content'">
                Next Button
              </div>
            </dx-tooltip> -->
          </div>
        </div>
        <div class="row headerText">
          <h3>Security Answers</h3>
        </div>
        <div class="dx-fieldset">
          <div class="row margin-b-15">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="questions"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.questionsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q1ValueChanged($event, 'question')"
                  [searchEnabled]="true"
                  [value]="securityQus1.question"
                  [disabled]="true"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.queAnsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q1ValueChanged($event, 'answer')"
                >
                  <dxi-button
                    *ngIf="showValidation1"
                    name="today"
                    location="after"
                    [options]="correctAns1"
                  ></dxi-button>
                  <dxi-button
                    *ngIf="!showValidation1"
                    name="today"
                    location="after"
                    [options]="worngAns1"
                  ></dxi-button>
                </dx-text-box>
              </div>
            </div>
          </div>
          <div class="row margin-b-15" *ngIf="showQues2">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="questions"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.questionsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q2ValueChanged($event, 'question')"
                  [searchEnabled]="true"
                  [value]="securityQus2.question"
                  [disabled]="true"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.queAnsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q2ValueChanged($event, 'answer')"
                >
                  <dxi-button
                    *ngIf="showValidation2"
                    name="today"
                    location="after"
                    [options]="correctAns2"
                  ></dxi-button>
                  <dxi-button
                    *ngIf="!showValidation2"
                    name="today"
                    location="after"
                    [options]="worngAns2"
                  ></dxi-button>
                </dx-text-box>
              </div>
            </div>
          </div>
          <div class="row margin-b-15" *ngIf="showQues3">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-select-box
                  [dataSource]="questions"
                  displayExpr="name"
                  valueExpr="name"
                  [placeholder]="COMMON_MSG.questionsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q3ValueChanged($event, 'question')"
                  [searchEnabled]="true"
                  [value]="securityQus3.question"
                  [disabled]="true"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.queAnsPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="q3ValueChanged($event, 'answer')"
                >
                  <dxi-button
                    *ngIf="showValidation3"
                    name="today"
                    location="after"
                    [options]="correctAns3"
                  ></dxi-button>
                  <dxi-button
                    *ngIf="!showValidation3"
                    name="today"
                    location="after"
                    [options]="worngAns3"
                  ></dxi-button>
                </dx-text-box>
              </div>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 textCenter">
              <dx-button
                [text]="COMMON_MSG.Submit"
                type="success"
                (onClick)="submit()"
                [disabled]="!showValidation3"
              ></dx-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
