.center-align {
  padding: 0 6%;
}
.link-tex {
  float: right;
  color: #13b1bb;
  text-decoration: underline;
  padding-right: 20px;
}
h1 {
  font-size: 30px;
  color: #00285d;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
