<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 g-0">
      <img src="assets/images/insurance-industries.jpg"
        class="img-fluid w-100" />
    </div>
  </div>
</div>
<div class="industries">
  <div class="container">
    <h1>Insurance</h1>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>Oil and Gas Industry can leverage artificial intelligence.</p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content top-aligned">
            <span class="heading">We Provide...</span>
            <p>
              Planning and forecasting - Deep machine learning can help increase
              awareness of macroeconomic trends to drive investment decisions in
              exploration and production.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Eliminate costly risks in drilling – Applying AI in the
              operational planning and execution stages can significantly
              improve well planning, real-time drilling optimization, frictional
              drag estimation, and well cleaning predictions.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>

      <div class="d-none d-md-block d-lg-block d-xl-block col-md-7 offset-md-5">
        <img src="assets/images/industries-center-logo.png" />
      </div>

      <div class="col-sm-6 col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Predictive maintenance – AI-powered software and sensor hardware
              enables us to use very large amounts of data to gain real-time
              responses on the best future course of action.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content bottom-aligned">
            <span class="heading">We Provide...</span>
            <p>
              Work scope include day-to-day development, maintenance and support
              activities using WPF & React.js technologies.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>Supporting close to 64 Business Applications.</p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
    </div>
  </div>
</div>
