<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <div class="row">
        <dx-load-panel
          #loadPanel
          shadingColor="rgba(0,0,0,0.4)"
          [(visible)]="loadingVisible"
          [showIndicator]="true"
          [showPane]="true"
          [shading]="true"
          [closeOnOutsideClick]="false"
          (onShown)="onLoading()"
        >
        </dx-load-panel>
        <dx-toast [(visible)]="isVisible" type="success" message=""> </dx-toast>
      </div>
      <div class="row padding0 headerStyle">
        <div class="col-md-2 padding-t-10"></div>
        <div class="col-md-8 headerText">
          <img src="assets/images/magnetar_logo.png" />
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row mainCard">
        <div class="row headerText">
          <h3>Standup Status</h3>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-2">
                <dx-button
                  icon="back"
                  stylingMode="text"
                  (onClick)="preDates()"
                >
                </dx-button>
              </div>
              <div class="col-md-8 dateHeader">
                <label>{{ mondayDate }} to {{ sundayDate }}</label>
              </div>
              <div class="col-md-2">
                <dx-button
                  icon="chevronnext"
                  stylingMode="text"
                  (onClick)="nextDates()"
                >
                </dx-button>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row m-t-10">
          <dx-data-grid
            id="gridContainer"
            [dataSource]="mainData"
            keyExpr="id"
            [showBorders]="true"
          >
            <dxi-column
              dataField="department"
              caption="Department"
              [groupIndex]="0"
            ></dxi-column>
            <dxi-column dataField="name" caption="Employee"></dxi-column>
            <dxi-column dataField="mon" caption="Monday">
              <dxi-column
                [caption]="mondayDate"
                dataField=""
                cellTemplate="monTemplate"
              ></dxi-column>
            </dxi-column>
            <dxi-column dataField="tue" caption="Tuesday">
              <dxi-column
                [caption]="tuesdayDate"
                dataField=""
                cellTemplate="tueTemplate"
              ></dxi-column>
            </dxi-column>
            <dxi-column dataField="wed" caption="Wednesday">
              <dxi-column
                [caption]="wednesdayDate"
                dataField=""
                cellTemplate="wedTemplate"
              ></dxi-column>
            </dxi-column>
            <dxi-column dataField="thu" caption="Thursday">
              <dxi-column
                [caption]="thursdayDate"
                dataField=""
                cellTemplate="thuTemplate"
              ></dxi-column>
            </dxi-column>
            <dxi-column dataField="fri" caption="Friday">
              <dxi-column
                [caption]="fridayDate"
                dataField=""
                cellTemplate="friTemplate"
              ></dxi-column>
            </dxi-column>
            <dxi-column dataField="sat" caption="Saturday">
              <dxi-column
                [caption]="saturdayDate"
                dataField=""
                cellTemplate="satTemplate"
              ></dxi-column>
            </dxi-column>
            <dxi-column dataField="sun" caption="Sunday">
              <dxi-column
                [caption]="sundayDate"
                dataField=""
                cellTemplate="sunTemplate"
              ></dxi-column>
            </dxi-column>
            <div *dxTemplate="let cell of 'monTemplate'; let i = index">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="monValueChanged(cell.data)"
                    [(value)]="cell.data.mon"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div *dxTemplate="let cell of 'tueTemplate'">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="tueValueChanged($event, cell.data)"
                    [(value)]="cell.data.tue"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div *dxTemplate="let cell of 'wedTemplate'">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="wedValueChanged($event, cell.data)"
                    [(value)]="cell.data.wed"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div *dxTemplate="let cell of 'thuTemplate'">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="thuValueChanged($event, cell.data)"
                    [(value)]="cell.data.thu"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div *dxTemplate="let cell of 'friTemplate'">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="friValueChanged($event, cell.data)"
                    [(value)]="cell.data.fri"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div *dxTemplate="let cell of 'satTemplate'">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="satValueChanged($event, cell.data)"
                    [(value)]="cell.data.sat"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div *dxTemplate="let cell of 'sunTemplate'">
              <div class="dx-field">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.taskPlaceholder"
                    valueChangeEvent="change"
                    (onValueChanged)="sunValueChanged($event, cell.data)"
                    [(value)]="cell.data.sun"
                  >
                  </dx-text-box>
                </div>
              </div>
            </div>
          </dx-data-grid>
        </div>
        <div class="row m-t-10">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <dx-button
              [text]="COMMON_MSG.Save"
              type="success"
              (onClick)="submit(mainData)"
            ></dx-button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
