<div class="row">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/images/carousel-1.jpg"
        alt="Los Angeles"
        class="d-block"
        style="width: 100%"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/images/carousel-2.jpg"
        alt="Chicago"
        class="d-block"
        style="width: 100%"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/images/carousel-3.jpg"
        alt="New York"
        class="d-block"
        style="width: 100%"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/images/carousel-4.jpg"
        alt="Los Angeles"
        class="d-block"
        style="width: 100%"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/images/carousel-5.jpg"
        alt="Chicago"
        class="d-block"
        style="width: 100%"
      />
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<div class="about-us row">
  <div class="col-md-4">
    <p>
      Looking for a high-growth environment? Our 'Excellence' model and
      interdisciplinary expertise provide exactly that. We offer targeted
      development of young to junior professionals - an approach that promotes
      individual potential. We are positioned in the heart of emerging mobility
      and manufacturing markets, with over 300 customers worldwide.
    </p>
  </div>
  <div class="col-md-4">
    <p>
      Of course, we understand there are different path for career progression.
      This is why we instate appraisals and promotions every year, which run
      parallel to our competence model. With such efforts, we are able to both
      meet the demands of the market and nurture the skills of our employees.
    </p>
  </div>
  <div class="col-md-4">
    <img src="assets/images/career.jpg" />
  </div>
</div>
<div class="services">
  <header>
    <h1>Our Services</h1>
    <h3>Best Service providers from Campus to Corporate</h3>
  </header>

  <section class="columns">
    <div class="column">
      <!-- <span class="material-icons">laptop</span> -->
      <!--<img src="assets/images/services-training.gif" />-->
      <h2>Best Training</h2>
      <p>
        World-class training with LIVE project experience by top industry
        professionals.
      </p>
      <button class="services-button">Read More</button>
    </div>

    <div class="column">
      <!-- <span class="material-icons">people</span> -->
      <h2>Excellent Placements</h2>
      <p>
        World-class training with LIVE project experience by top industry
        professionals.
      </p>
      <button class="services-button">Read More</button>
    </div>

    <div class="column">
      <!-- <span class="material-icons">thumb_up_alt</span> -->
      <h2>Career Guidance</h2>
      <p>
        World-class training with LIVE project experience by top industry
        professionals.
      </p>
      <button class="services-button">Read More</button>
    </div>
  </section>
</div>

<div class="grid-container">
  <div class="grid-item item1">
    <figure class="img-effect">
      <img src="assets/images/cloud-technologies.jpg" height="428px" />
      <div class="bottom-gradient-do_more"></div>
      <figcaption>
        <h2 class="do_more-grid-title">Amazon Web Services</h2>
        <p class="do_more-grid-desc">
          <strong>Keep your core. Keep innovating</strong>
          <span class="hidden-1024"
            >Find your path to non-disruptive renewal of IT landscapes</span
          >
        </p>
      </figcaption>
    </figure>
  </div>
  <div class="service-category grid-item item2">
    <figure class="img-effect">
      <img
        src="assets/images/aws.jpg"
        alt="Amazon Web Services"
        class="img-responsive"
      />
      <!--<img src="/content/dam/infosys-web/en/home/images/accelerate.jpg" alt="Accelerate" class="img-responsive">-->
      <div class="bottom-gradient-do_more"></div>
      <figcaption>
        <h2 class="do_more-grid-title">Amazon Web Services</h2>
        <p class="do_more-grid-desc">
          <strong>Keep your core. Keep innovating</strong>
          <span class="hidden-1024"
            >Find your path to non-disruptive renewal of IT landscapes</span
          >
        </p>
      </figcaption>
    </figure>
  </div>
  <div class="service-category grid-item item3">
    <figure class="img-effect">
      <img src="assets/images/dot-net.jpg" />
      <div class="bottom-gradient-do_more"></div>
      <figcaption>
        <h2 class="do_more-grid-title">Amazon Web Services</h2>
        <p class="do_more-grid-desc">
          <strong>Keep your core. Keep innovating</strong>
          <span class="hidden-1024"
            >Find your path to non-disruptive renewal of IT landscapes</span
          >
        </p>
      </figcaption>
    </figure>
  </div>
  <div class="service-category grid-item item4">
    <figure class="img-effect">
      <img src="assets/images/coding.jpg" />
      <div class="bottom-gradient-do_more"></div>
      <figcaption>
        <h2 class="do_more-grid-title">Amazon Web Services</h2>
        <p class="do_more-grid-desc">
          <strong>Keep your core. Keep innovating</strong>
          <span class="hidden-1024"
            >Find your path to non-disruptive renewal of IT landscapes</span
          >
        </p>
      </figcaption>
    </figure>
  </div>
  <div class="service-category grid-item item5">
    <figure class="img-effect">
      <img src="assets/images/java.jpg" />
      <div class="bottom-gradient-do_more"></div>
      <figcaption>
        <h2 class="do_more-grid-title">Amazon Web Services</h2>
        <p class="do_more-grid-desc">
          <strong>Keep your core. Keep innovating</strong>
          <span class="hidden-1024"
            >Find your path to non-disruptive renewal of IT landscapes</span
          >
        </p>
      </figcaption>
    </figure>
  </div>
</div>
<h1 class="textCenter">Our Clients</h1>
<div class="clear clients-section">
  <div class="row">
    <div class="width10"><img src="assets/images/zenith.png" /></div>
    <div class="width10"><img src="assets/images/ibm.png" /></div>
    <div class="width10"><img src="assets/images/cisco.png" /></div>
    <div class="width10"><img src="assets/images/hp.png" /></div>
    <div class="width10"><img src="assets/images/intel.png" /></div>
    <div class="width10"><img src="assets/images/dell.png" /></div>
    <div class="width10"><img src="assets/images/emerson.png" /></div>
  </div>
</div>
