<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img
        src="assets/images/header-aboutus.jpg"
        class="img-fluid"
        style="width: 100%"
      />
    </div>
  </div>
</div>
<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-aboutus">
          <img src="assets/images/img-aboutus.jpg" />
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="textCenter">About Us</h3>
        <div class="aboutus">
          <div class="icon-sec spin circle">
            <i class="fas fa-edit"></i>
          </div>
          <div class="content-sec">
            <h4>Career with Training</h4>
            <p>
              Campus to Corporate with best guidance in industry. Success can be
              derived with proper guidance only. We are always there for you.
            </p>
          </div>
          <div class="icon-sec spin circle">
            <i class="fas fa-edit"></i>
          </div>
          <div class="content-sec">
            <h4>Best packages in industry</h4>
            <p>
              Campus to Corporate with best guidance in industry. Success can be
              derived with proper guidance only. We are always there for you.
            </p>
          </div>
          <div class="icon-sec spin circle">
            <i class="fas fa-edit"></i>
          </div>
          <div class="content-sec">
            <h4>Supporting Team</h4>
            <p>
              Campus to Corporate with best guidance in industry. Success can be
              derived with proper guidance only. We are always there for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
