<div class="container-fluid">
  <div class="row g-0">
    <div class="col-md-12">
      <img src="assets/images/header-careers.jpg" class="img-fluid w-100" />
    </div>
  </div>
</div>
<div class="careers-section">
  <div class="container">
    <div class="row g-0">
      <div class="col-sm-12 col-lg-6">
        <div class="img-careers">
          <div class="spin">
            <img src="assets/images/img-careers.jpg" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="careers-content">
          <h3 class="text-left">Your Career Starts Here!</h3>
          <p>
            We seek individuals who share our values as a means of reinforcing
            and furthering the company's successful philosophy. We can offer
            you:
          </p>
          <ol class="list-style-2 list-style-2_2-cols">
            <li>Creative Space</li>
            <li>Growing Career</li>
            <li>Guidance</li>
            <li>Benefits</li>
          </ol>
          <button type="submit" name="ok" class="c-btn">Join Our Team Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vacancies-section">
  <div class="container">
    <h5 class="textCenter">Available Vacancies</h5>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="vacancy-post">
          <p class="vacancy-title">
           <span class="sec-heading">Application Developer:</span> AWS Cloud Microservices
          </p>
          <div class="vacancy-details">
            <ul class="list-items-inline">
              <li><i class="fas fa-map-marker-alt"></i>Seattle</li>
              <li><i class="far fa-clock"></i>Full Time</li>
              <li><i class="fas fa-calendar-day"></i>6 hours ago</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="vacancy-post">
          <p class="vacancy-title">
            <span class="sec-heading">Application Developer:</span> AWS Cloud Microservices
          </p>
          <div class="vacancy-details">
            <ul class="list-items-inline">
              <li><i class="fas fa-map-marker-alt"></i>Seattle</li>
              <li><i class="far fa-clock"></i>Full Time</li>
              <li><i class="fas fa-calendar-day"></i>6 hours ago</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="vacancy-post">
          <p class="vacancy-title">
            <span class="sec-heading">Application Developer:</span> AWS Cloud Microservices
          </p>
          <div class="vacancy-details">
            <ul class="list-items-inline">
              <li><i class="fas fa-map-marker-alt"></i>Seattle</li>
              <li><i class="far fa-clock"></i>Full Time</li>
              <li><i class="fas fa-calendar-day"></i>6 hours ago</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="vacancy-post">
          <p class="vacancy-title">
            <span class="sec-heading">Application Developer:</span> AWS Cloud Microservices
          </p>
          <div class="vacancy-details">
            <ul class="list-items-inline">
              <li><i class="fas fa-map-marker-alt"></i>Seattle</li>
              <li><i class="far fa-clock"></i>Full Time</li>
              <li><i class="fas fa-calendar-day"></i>6 hours ago</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
