<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false"
        (onShown)="onShown()"
        (onHidden)="onHidden()"
      >
      </dx-load-panel>
    </div>
    <div class="row padding0 previewHeader">
      <div class="col-md-2 padding-t-10">
        <dx-button
          id="backIcon"
          icon="arrowleft"
          (onClick)="backPage()"
          (mouseenter)="toggleBackBtn()"
          (mouseleave)="toggleBackBtn()"
        >
        </dx-button>
        <dx-tooltip
          target="#backIcon"
          [(visible)]="backBtnTooltip"
          [closeOnOutsideClick]="false"
        >
          <div *dxTemplate="let data = data; of: 'content'">Back Button</div>
        </dx-tooltip>
      </div>
      <div class="col-md-8 headerText">
        <h3>Pre-view</h3>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row previewForm">
      <div id="mainAccordion">
        <div class="card">
          <div class="card-header textCenter">
            <div class="row">
              <div class="col-md-11 padding-t-5">
                <a data-bs-toggle="collapse" href="#collapseDetails">
                  <h4>Details Data</h4>
                </a>
              </div>
              <div class="col-md-1">
                <dx-button
                  icon="edit"
                  (onClick)="goToDetailsPage()"
                ></dx-button>
              </div>
            </div>
          </div>
          <div
            id="collapseDetails"
            class="collapse show"
            data-bs-parent="#mainAccordion"
          >
            <div class="card-body">
              <table class="table table-striped table-bordered">
                <tbody>
                  <tr>
                    <td class="textEnd">First Name</td>
                    <td>{{ detailsData.firstName }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Last Name</td>
                    <td>{{ detailsData.lastName }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Email</td>
                    <td>{{ detailsData.email }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Password</td>
                    <td>{{ detailsData.password }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Mobile Number</td>
                    <td>{{ detailsData.mobileNumber }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Date of Birth</td>
                    <td>{{ detailsData.dob | date }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Gender</td>
                    <td>{{ detailsData.gender }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Country</td>
                    <td>{{ detailsData.country }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">State</td>
                    <td>{{ detailsData.state }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">City</td>
                    <td>{{ detailsData.city }}</td>
                  </tr>
                  <tr>
                    <td class="textEnd">Zipcode</td>
                    <td>{{ detailsData.zipcode }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header textCenter">
            <div class="row">
              <div class="col-md-11 padding-t-5">
                <a
                  class="collapsed"
                  data-bs-toggle="collapse"
                  href="#collapseEducation"
                >
                  <h4>Education Details</h4>
                </a>
              </div>
              <div class="col-md-1">
                <!-- <dx-button icon="edit" (onClick)="goToEduEmpPage()"></dx-button> -->
              </div>
            </div>
          </div>
          <div
            id="collapseEducation"
            class="collapse"
            data-bs-parent="#mainAccordion"
          >
            <div class="card-body">
              <div id="EducationAccordion">
                <div class="row noDataText" *ngIf="!educationData">
                  <p>No data to display</p>
                </div>
                <div class="card" *ngFor="let edu of educationData">
                  <div class="card-header textCenter">
                    <div class="row">
                      <div class="col-md-11 padding-t-5">
                        <a
                          data-bs-toggle="collapse"
                          href="#tab_{{ edu.levelEdu }}"
                        >
                          <h5>
                            {{ edu.levelEdu }}
                          </h5>
                        </a>
                      </div>
                      <div class="col-md-1">
                        <dx-button
                          icon="edit"
                          (onClick)="editEduForm(edu)"
                        ></dx-button>
                      </div>
                    </div>
                  </div>
                  <div
                    id="tab_{{ edu.levelEdu }}"
                    class="collapse"
                    data-bs-parent="#EducationAccordion"
                  >
                    <div class="card-body">
                      <table class="table table-striped table-bordered">
                        <tbody>
                          <tr>
                            <td class="textEnd width48">College Name</td>
                            <td>{{ edu.collegeName }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Major</td>
                            <td>{{ edu.major }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Level of Education</td>
                            <td>{{ edu.levelEdu }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Form Date</td>
                            <td>{{ edu.formDate | date }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">To Date</td>
                            <td>{{ edu.toDate | date }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">GPA</td>
                            <td>{{ edu.gpa }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Country</td>
                            <td>{{ edu.country }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">State</td>
                            <td>{{ edu.state }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">City</td>
                            <td>{{ edu.city }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Zipcode</td>
                            <td>{{ edu.zipcode }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header textCenter">
            <div class="row">
              <div class="col-md-11 padding-t-5">
                <a
                  class="collapsed"
                  data-bs-toggle="collapse"
                  href="#collapseEmployee"
                >
                  <h4>Employee Details</h4>
                </a>
              </div>
              <div class="col-md-1">
                <!-- <dx-button icon="edit" (onClick)="goToEduEmpPage()"></dx-button> -->
              </div>
            </div>
          </div>
          <div
            id="collapseEmployee"
            class="collapse"
            data-bs-parent="#mainAccordion"
          >
            <div class="card-body">
              <div id="EmployeeAccordion">
                <div class="row noDataText" *ngIf="!employeeData">
                  <p>No data to display</p>
                </div>
                <div class="card" *ngFor="let emp of employeeData">
                  <div class="card-header textCenter">
                    <div class="row">
                      <div class="col-md-11 padding-t-5">
                        <a
                          data-bs-toggle="collapse"
                          href="#tab_{{ emp.companyName }}"
                        >
                          <h5>
                            {{ emp.companyName }}
                          </h5>
                        </a>
                      </div>
                      <div class="col-md-1">
                        <dx-button
                          icon="edit"
                          (onClick)="editEmpForm(emp)"
                        ></dx-button>
                      </div>
                    </div>
                  </div>
                  <div
                    id="tab_{{ emp.companyName }}"
                    class="collapse"
                    data-bs-parent="#EmployeeAccordion"
                  >
                    <div class="card-body">
                      <table class="table table-striped table-bordered">
                        <tbody>
                          <tr>
                            <td class="textEnd width48">Company Name</td>
                            <td>{{ emp.companyName }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Description</td>
                            <td>{{ emp.description }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Form Date</td>
                            <td>{{ emp.formDate | date }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">To Date</td>
                            <td>{{ emp.toDate | date }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Country</td>
                            <td>{{ emp.country }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">State</td>
                            <td>{{ emp.state }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">City</td>
                            <td>{{ emp.city }}</td>
                          </tr>
                          <tr>
                            <td class="textEnd width48">Zipcode</td>
                            <td>{{ emp.zipcode }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
