<div class="container-fluid">
  <div id="mainAccordion" class="margin">
    <div class="card">
      <div class="card-header textCenter">
        <div class="row">
          <div class="padding-t-5">
            <a data-bs-toggle="collapse" href="#indiaHolidays">
              <h4>Hyderabad (India)</h4>
            </a>
          </div>
        </div>
      </div>
      <div
        id="indiaHolidays"
        class="collapse show"
        data-bs-parent="#mainAccordion"
      >
        <div class="card-body">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Holiday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>January 14</td>
                <td>Friday</td>
                <td>Bhogi*</td>
              </tr>
              <tr>
                <td>January 26</td>
                <td>Wednesday</td>
                <td>Republic Day < Mandatory ></td>
              </tr>
              <tr>
                <td>March 01</td>
                <td>Tuesday</td>
                <td>Maha Shivaratri</td>
              </tr>
              <tr>
                <td>March 18</td>
                <td>Friday</td>
                <td>Holi*</td>
              </tr>
              <tr>
                <td>April 15</td>
                <td>Friday</td>
                <td>Good Friday*</td>
              </tr>
              <tr>
                <td>May 03</td>
                <td>Tuesday</td>
                <td>Idul Fitr*</td>
              </tr>
              <tr>
                <td>June 02</td>
                <td>Thursday</td>
                <td>Telangana Formation Day < Mandatory ></td>
              </tr>
              <tr>
                <td>August 09</td>
                <td>Tuesday</td>
                <td>Muharram</td>
              </tr>
              <tr>
                <td>August 15</td>
                <td>Monday</td>
                <td>Independence Day < Mandatory ></td>
              </tr>
              <tr>
                <td>August 19</td>
                <td>Friday</td>
                <td>Krishna Janmastami</td>
              </tr>
              <tr>
                <td>August 31</td>
                <td>Wednesday</td>
                <td>Ganesh Chaturthi*</td>
              </tr>
              <tr>
                <td>October 05</td>
                <td>Wednesday</td>
                <td>Vijaya Dashami*</td>
              </tr>
              <tr>
                <td>October 24</td>
                <td>Monday</td>
                <td>Deepavali*</td>
              </tr>
              <tr>
                <td>November 08</td>
                <td>Tuesday</td>
                <td>Kathika Purnima</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header textCenter">
        <div class="row">
          <div class="padding-t-5">
            <a data-bs-toggle="collapse" href="#usaHolidays">
              <h4>USA</h4>
            </a>
          </div>
        </div>
      </div>
      <div
        id="usaHolidays"
        class="collapse"
        data-bs-parent="#mainAccordion"
      >
        <div class="card-body">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Holiday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>January 14</td>
                <td>Friday</td>
                <td>Bhogi*</td>
              </tr>
              <tr>
                <td>January 26</td>
                <td>Wednesday</td>
                <td>Republic Day < Mandatory ></td>
              </tr>
              <tr>
                <td>March 01</td>
                <td>Tuesday</td>
                <td>Maha Shivaratri</td>
              </tr>
              <tr>
                <td>March 18</td>
                <td>Friday</td>
                <td>Holi*</td>
              </tr>
              <tr>
                <td>April 15</td>
                <td>Friday</td>
                <td>Good Friday*</td>
              </tr>
              <tr>
                <td>May 03</td>
                <td>Tuesday</td>
                <td>Idul Fitr*</td>
              </tr>
              <tr>
                <td>June 02</td>
                <td>Thursday</td>
                <td>Telangana Formation Day < Mandatory ></td>
              </tr>
              <tr>
                <td>August 09</td>
                <td>Tuesday</td>
                <td>Muharram</td>
              </tr>
              <tr>
                <td>August 15</td>
                <td>Monday</td>
                <td>Independence Day < Mandatory ></td>
              </tr>
              <tr>
                <td>August 19</td>
                <td>Friday</td>
                <td>Krishna Janmastami</td>
              </tr>
              <tr>
                <td>August 31</td>
                <td>Wednesday</td>
                <td>Ganesh Chaturthi*</td>
              </tr>
              <tr>
                <td>October 05</td>
                <td>Wednesday</td>
                <td>Vijaya Dashami*</td>
              </tr>
              <tr>
                <td>October 24</td>
                <td>Monday</td>
                <td>Deepavali*</td>
              </tr>
              <tr>
                <td>November 08</td>
                <td>Tuesday</td>
                <td>Kathika Purnima</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
