<div class="container-fluid">
  <div class="row g-0">
    <div class="col-md-12">
      <img src="assets/images/health-industries.jpg" class="img-fluid w-100" />
    </div>
  </div>
</div>
<div class="industries">
  <div class="container">
    <h1>Health Care</h1>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              The healthcare industry is one of the world’s largest and
              fastest-growing industries.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content top-aligned">
            <span class="heading">We Provide...</span>
            <p>
              The growth of the healthcare market is majorly driven by the
              implementation of government initiatives to increase EHR adoption,
              growing adoption of data-driven decision-making, growing pressure
              to curb healthcare spending and improve patient outcomes, the
              emergence of big data in healthcare is expected to drive the
              overall growth of the healthcare analytics market.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              IT services related to Data Governance, Analysis, Reporting & Dash
              boards.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      </div>
      <div class="row margin-50">
      <div class="col-sm-6 col-md-3 offset-md-2">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Skillset is primarily related to SQL developers, ETL/ Informatica,
              Tableau, Clarity and or similar tool sets.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-md-2 center-image">
        <img src="assets/images/industries-center-logo.png" />
      </div>
      <div class="col-sm-6 col-md-3 right-margin">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Consolidation of legacy Data warehouses – To create a single
              version of the truth.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Leadership experience in the area of “Data and Analytics”,
              responsible for defining the strategy, solutions, and road map for
              Enterprise data warehouse.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content bottom-aligned">
            <span class="heading">We Provide...</span>
            <p>
              Data warehouses/Analytical structure/marts “consolidation’ – Re
              hosting / Re architecting / Re plat forming reports
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Enterprise Data warehouse systems – Managing Data warehouse
              systems from India with end to end ownership.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
    </div>
  </div>
</div>
