<div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row">
      <dx-load-panel
        #loadPanel
        shadingColor="rgba(0,0,0,0.4)"
        [(visible)]="loadingVisible"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [closeOnOutsideClick]="false"
        (onShown)="onShown()"
      >
      </dx-load-panel>
    </div>
    <div class="row updatePasswordCard">
      <form action="your-action">
        <div class="row padding0 formHeader">
          <div class="col-md-2 padding-t-10"></div>
          <div class="col-md-8 headerText">
            <img src="assets/images/magnetar_logo.png" />
          </div>
          <div class="col-md-2 padding-t-10 textEnd"></div>
        </div>
        <div class="row headerText">
          <h3>Update Password</h3>
        </div>
        <div class="dx-fieldset">
          <dx-validation-summary id="summary"></dx-validation-summary>
        </div>
        <div class="dx-fieldset">
          <div class="row Card">
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.OldPasswordPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="ValueChanged($event)"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.oldPasswordRequired"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-value width100">
                <dx-text-box
                  [placeholder]="COMMON_MSG.NewPasswordPlaceholder"
                  valueChangeEvent="keyup"
                  (onValueChanged)="ValueChanged($event)"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      [message]="error_msg.newPasswordRequired"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 textCenter">
              <dx-button
                [text]="COMMON_MSG.Submit"
                type="success"
                (onClick)="submit()"
                [disabled]="!btnDisable"
              ></dx-button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
