<div class="bgImg">
<div class="container">
  <div class="row d-flex justify-content-center mt-10 login">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h3 class="p-3">Sign In</h3>
        </div>
        <div class="card-body">
          <form action="your-action" (submit)="onFormSubmit($event)">
            <div class="dx-fieldset">
              <dx-validation-summary id="summary"></dx-validation-summary>
            </div>
            <div class="dx-fieldset mb-4">
                <div class="dx-field">
                  <div class="dx-field-value width100">
                    <dx-text-box
                      [placeholder]="COMMON_MSG.emailPlaceholder"
                      valueChangeEvent="keyup"
                      (onValueChanged)="valueChanged($event, 'email')"
                      autocomplete="off"
                    >
                      <dx-validator>
                        <dxi-validation-rule
                          type="required"
                          [message]="error_msg.emailRequired"
                        ></dxi-validation-rule>
                        <dxi-validation-rule
                          type="email"
                          [message]="error_msg.mailError"
                        ></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                  </div>
                </div>
              <div class="mb-4">
                <app-input-password
                  [placeholder]="COMMON_MSG.passwordPlaceholder"
                  (value)="valueChanged($event, 'password')"
                ></app-input-password>
              </div>
              <div class="mb-4">
                  <div class="dx-field">
                    <dx-check-box
                    class="lightgreyColor"
                  [value]="isChecked"
                  [text]="COMMON_MSG.rememberMe"
                  (onValueChanged)="checkedValue($event)"
                ></dx-check-box>
                  </div>
                </div>
              <div class="d-grid">
                  <dx-button
                    id="button"
                    text="Sign in"
                    type="submit"
                    [useSubmitBehavior]="true"
                  >
                  </dx-button>
                </div>
            </div>
          </form>
          <div class="mx-auto">
            <button class="btn" type="default">
              Forgot Password?
            </button>
            <button class="btn" type="default" (click)="signupPage()">
              Sign Up
            </button>
          </div>
         </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- <div class="container-fluid bgImg">
  <div class="row margin">
    <div class="row padding0">
      <div class="login-header">
        <img src="assets/images/magnetar_logo.png" />
      </div>
    </div>
    <div class="row login">
      <div class="row">
        <form action="your-action" (submit)="onFormSubmit($event)">
          <div class="dx-fieldset">
            <dx-validation-summary id="summary"></dx-validation-summary>
          </div>
          <div class="dx-fieldset">
            <div class="row margin-b-15">
              <div class="dx-field col-12">
                <div class="dx-field-value width100">
                  <dx-text-box
                    [placeholder]="COMMON_MSG.emailPlaceholder"
                    valueChangeEvent="keyup"
                    (onValueChanged)="valueChanged($event, 'email')"
                    autocomplete="off"
                  >
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        [message]="error_msg.emailRequired"
                      ></dxi-validation-rule>
                      <dxi-validation-rule
                        type="email"
                        [message]="error_msg.mailError"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div class="row margin-b-15">
              <app-input-password
                [placeholder]="COMMON_MSG.passwordPlaceholder"
                (value)="valueChanged($event, 'password')"
              ></app-input-password>
            </div>
            <div class="row margin-b-15">
              <div class="col-md-12">
                <div class="dx-field">
                  <dx-check-box
                  class="whiteColor"
                [value]="isChecked"
                [text]="COMMON_MSG.rememberMe"
                (onValueChanged)="checkedValue($event)"
              ></dx-check-box>
                </div>
              </div>
            </div>
            <div class="row margin-b-15">
              <div class="col-md-4"></div>
              <div class="col-md-4 textCenter">
                <dx-button
                  id="button"
                  text="Login"
                  type="success"
                  [useSubmitBehavior]="true"
                >
                </dx-button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-6 textCenter">
          <button class="btn whiteColor" type="default">
            Forgot Password?
          </button>
        </div>
        <div class="col-md-6 textCenter">
          <button class="btn whiteColor" type="default" (click)="signupPage()">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
