/* You can add global styles to this file, and also import other style files */
.dx-invalid-message > .dx-overlay-content {
  width: 100% !important;
  text-align: center;
}

.padding0 {
  padding: 0px !important;
}

.textCenter {
  text-align: center !important;
}

.width100 {
  width: 100% !important;
}
.floatRight{
  float: right;
}
.textEnd{
  text-align: end;
}
.dx-icon-arrowleft::before {
  color: #14b1bb;
}
.dx-icon-arrowright::before {
  color: #14b1bb;
}
.dx-datebox-calendar .dx-dropdowneditor-icon::before {
  color: #14b1bb;
}
.dx-dropdowneditor-icon::before {
  color: #14b1bb;
}
.dx-icon-plus::before {
  color: #14b1bb;
}
.fa-eye:before {
  color: #14b1bb;
}
.dx-icon-edit::before {
  color: #14b1bb;
}
.dx-icon-trash::before {
  color: #14b1bb;
}
