/* You can add global styles to this file, and also import other style files */
.dx-invalid-message > .dx-overlay-content {
  width: 100% !important;
  text-align: center;
}

.padding0 {
  padding: 0px !important;
}

.textCenter {
  text-align: center !important;
}

.width100 {
  width: 100% !important;
}
.floatRight {
  float: right;
}
.textEnd {
  text-align: end;
}
.dx-icon-arrowleft::before {
  color: #14b1bb;
}
.dx-icon-arrowright::before {
  color: #14b1bb;
}
.dx-datebox-calendar .dx-dropdowneditor-icon::before {
  color: #14b1bb;
}
.dx-dropdowneditor-icon::before {
  color: #14b1bb;
}
.dx-icon-plus::before {
  color: #14b1bb;
}
.fa-eye:before {
  color: #14b1bb;
}
.dx-icon-edit::before {
  color: #14b1bb;
}
.dx-icon-trash::before {
  color: #14b1bb;
}
h3,
h5,
.main-heading {
  color: #14b1bb;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  display: block;
  white-space: nowrap;
}
h1{
  font-size:30px;
  color:#00285D;
  text-align:center;
  font-weight:700;
  margin-bottom:20px;
}
.industries h1{margin-bottom:50px;}
.industries {
  background-color: #f9f7f8;
  padding: 10px 0 50px 0;
}
.industries-content {
  position: relative;
  height: 220px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(167, 158, 158);
  padding: 0;
  box-sizing: content-box;
  border: 2px solid transparent;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
}
.industries-content::before,
.industries-content::after,
span::before,
span::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
}
.industries-content::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #1c7c8c;
  border-left: 2px solid #1c7c8c;
  transition: 0.1s all;
}
.industries-content::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #1c7c8c;
  border-right: 2px solid #1c7c8c;
  transition: 0.1s all;
}
.industries-content .heading {
  font-size: 16px;
  font-weight: bold;
  color: #1c7c8c;
  text-align: center;
  height: 20px;
  width: 100%;
}
.industries-content p {
  align-items: left;
  font-size: 15px;
  margin: 10px 0;
  max-width: 100%;
  min-height: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.industries-content a {
  align-items: flex-end;
  text-decoration: underline;
  z-index: 99;
}
.industries-content span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #1c7c8c;
  border-left: 2px solid #1c7c8c;
  transition: 0.1s all;
}
.industries-content span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #1c7c8c;
  border-right: 2px solid #1c7c8c;
  transition: 0.1s all;
}
.industries-content:hover::before,
.industries-content:hover::after {
  width: 50%;
  height: 50%;
}
.industries-content:hover span::before,
.industries-content:hover span::after {
  width: 50%;
  height: 50%;
}
