<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img
        src="assets/images/cable-wire-industries.jpg"
        class="img-fluid"
        style="width: 100%"
      />
    </div>
  </div>
</div>
<div class="industries">
  <div class="container">
    <h1>Cable & Wire</h1>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              The most common cause of industrial network failure is signal
              transmission issues.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content top-aligned">
            <span class="heading">We Provide...</span>
            <p>
              We provide industry solutions which enhances the SAP standard
              business applications to improve transparency, efficiency, and
              quality in the overall process.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              We focus on the development of innovative solutions to meet the
              challenges in emerging markets.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
    </div>
    <div class="row margin-50">
      <div class="col-md-3 offset-md-2">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              SAP FICO, SD, MM, PP, PM, PLM, QM, BCS, WM, APO, SRM, CRM, BW,
              HEC, MDM/MDG, MII/ME
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-md-2 center-image">
        <img src="assets/images/industries-center-logo.png" />
      </div>
      <div class="col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              SAP Integration / Middleware, SAP Net Weaver Practice, ABAP,
              PI/XI, HCI, Web Services, XML & Open Source Portal Integration.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              Solutions for Supply Chain focusing on length-based businesses:
              Production Order Scheduling, Scrap Management, Reel Management,
              Make-to-Order, Variant Configuration and Rules.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content bottom-aligned">
            <span class="heading">We Provide...</span>
            <p>
              The healthcare industry is one of the world’s largest and
              fastest-growing industries.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
      <div class="col-md-3 offset-md-1">
        <a routerLink="/contactus"
          ><div class="industries-content">
            <span class="heading">We Provide...</span>
            <p>
              SAP-centric solutions focused on Discrete Industry – Mill Products
              (DIMP) specializing in length-based solutions: Cable, Fiber-optic,
              Wire, Conduit, etc.
            </p>
            <span class="link-tex">Make a start </span>
          </div></a
        >
      </div>
    </div>
  </div>
</div>
